@model System.Data.DataTable
@using System.Data;
@using System.Web;
@using System.Web.Helpers;


<h2>
    Meteorite Landings Data </h2>


@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>Please upload the data in csv format.</p>
    <div class="form-group">
        <input type="file" id="dataFile" name="uploadedFile" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Upload" style="background: darkcyan;color:white;"   />
    </div>

   

    if (Model != null)
    {
        <div class="form-group">
            @Html.ActionLink("Generate Pie Chart ", "Charts", "Home",  new{dataPointFound =@ViewData["dpFound"], dataPointFell =@ViewData["dpFell"]})
        </div>
        <br />

        <table class=" table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
